<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/styles/dist/css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%- include('../_functions'); %>
  <%- include('../elements/header', { headerItems: headerItems }); %>
  <%- include('../admin/' + view); %>
  <%- include('../elements/footer'); %>
  <script type="text/javascript">
    const language = '<%= language %>';
  </script>
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/src/main.js"></script>
  <script src="/scripts/src/admin.js"></script>
</body>
</html>
